@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:ital,wght@0,600;0,700;1,500;1,700&family=Poppins:wght@500&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 flex min-h-[100vh] min-w-[320px] place-items-center overflow-x-hidden font-poppins;
}

html {
  @apply overflow-x-hidden;
}

h1 {
  @apply font-[3.2em] leading-[1.1];
}

button {
  @apply cursor-pointer rounded-[8px]  border bg-yellow px-[1.2em] py-[0.6em] font-poppins text-[1em] font-bold
  transition-colors duration-200;
}
button:hover {
  @apply border border-coffee;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
