@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.background-image {
  background-image: linear-gradient(
      89.82deg,
      #1e1e1e -6.88%,
      rgba(0, 0, 0, 0) 87.45%
    ),
    url('../src/assets/coffee_image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.megatron-background {
  background-image: linear-gradient(to bottom, #603809, rgba(103, 55, 1, 0.52)),
    url('../src/assets/glass_coffee.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-subscription {
  background-image: linear-gradient(to bottom, #603809, rgba(103, 55, 1, 0.52)),
    url('../src/assets/subscriptiom.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-footer {
  background: #442808;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
